 @import url('https://fonts.googleapis.com/css?family=ZCOOL+XiaoWei');
html{
    height: 100%;
}

body{
    height: 100%;
	white-space: pre-line;
	font-family: 'ZCOOL XiaoWei', serif;
}

aside{
	width: 30%;
    height: 95%;
	float: left;
	background-color: #FD5F00;
	color: white;
	text-align: center;
}

article{
	width: 70%;
    height: 100%;
	float: right;
	text-align: center;
}

a{
	color: #FD5F00;
	text-decoration: none;

}

a::after{
	color: #FD5F00;
	text-decoration: none;
}

section{
    margin-left: 4%;
    margin-right: 4%;
    text-align: left;
}


@media screen and (max-width: 700px) {
    aside{float: none; height: auto; width: 100%}
    article{float: none;width: 100%}
}
