<head>
		<meta charset="utf-8"/>
		<title>Juarez Henrique Lisboa</title>
		<link rel="stylesheet" type="text/css" href="../css/layouti.css"/>
		<link href="https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz" rel="stylesheet">
</head>
<body>
	<nav><a href="../index.html"> VOLTAR </a></nav>
	<article>
		<aside>
		<h1>CURSOS</h1>
		Profissionalizante em informática - 2014/2015 - <a target="_blank" href="http://www.cedaspy.com.br/">Cedaspy.</a>

		Técnico em informática - 2015/2016 - <a target="_blank" href="http://www.qi.edu.br/">Escolas e Faculdades QI.</a>

		Especialista em Sistema Linux - 2016/2017 - <a target="_blank" href="http://www.oys.com.br/">OYS.</a>

		Machine Learning e Data Science - 2017 - <a target="_blank" href="http://www.udemy.com">Udemy</a>

		<h1>Participação em oficinas de: <i>Python, Arduíno, Eletrônica, Robótica.</i></h1>
		</aside>
	</article>
</body>
