<head>
		<meta charset="utf-8"/>
		<title>Juarez Henrique Lisboa</title>
		<link rel="stylesheet" type="text/css" href="../css/layouti.css"/>
		<link href="https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz" rel="stylesheet">
</head>
<body>
	<nav><a href="../index.html"> VOLTAR </a></nav>
	<article>
		<aside>
		<h1>ESCOLARIDADE</h1>
		Ensino superior em andamento - Bacharelado em Engenharia da Computação - Iniciado em 2018 - <a target="_blank" href="http://www.ufrgs.br">Universidade Federal do Rio Grande do Sul.</a>

		Ensino médio - 2013/2015 - Colégio Estadual Inácio Montanha.

		</aside>
	</article>
</body>
