<head>
		<meta charset="utf-8"/>
		<title>Juarez Henrique Lisboa</title>
		<link rel="stylesheet" type="text/css" href="../css/layouti.css"/> 
		<link href="https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz" rel="stylesheet"> 
</head>
<body>
	<nav><a href="../index.html"> VOLTAR </a></nav>
	<article>
		<aside>
		<h1>EXPERIÊNCIA</h1>
		Connection-net - 22/10/2018 ~
		Analista de Infraestrutura Jr.
		
		UFRGS/PROGESP - 29/05/2018 à 22/10/2018
		Criação e Manutenção dos sites da PROGESP e da Escola de Desenvolvimento dos Gestores.	
			
		UFRGS/FACED - 25/05/2017 à 31/03/2018
		Ministrante de disciplina eletiva no <a href="https://www.ufrgs.br/colegiodeaplicacao/">CAp</a> para a criação de aplicativos multidisciplinares para android.
		
		SUSEPE - De 2014 à 2015
		Estágio em suporte técnico e manutenção de computadores.
		</aside>
	</article>
</body>
