<head>
		<meta charset="utf-8"/>
		<title>Juarez Henrique Lisboa</title>
		<link rel="stylesheet" type="text/css" href="../css/layouti.css"/>
		<link href="https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz" rel="stylesheet">
</head>
<body>
	<nav><a href="../index.html"> VOLTAR </a></nav>
	<article>
		<aside>
		<a target="_blank" href="https://linkedin.com/in/juarezhenriquelisboa"> Linkedin </a>
		<br>
		<a target="_blank" href="https://github.com/juarezhenriquelisboa/"> Github </a>
		</aside>
	</article>
</body>
